<!doctype html>
<html>

<head>
  <title>Lets go to the movies</title>
  <link rel="icon" type="image/png" href="/assets/favicon.ico" />
  <link rel="stylesheet" href="/assets/style/index.css" />
  <script src="/assets/js/index.js"></script>
  <script src="/assets/js/util.js"></script>
  <script src="/assets/js/reload_ws.js"></script>
</head>

<body>
  <header>
    <h3>Lets go to the movies</h3>
  </header>
  <div class="content">
    <form id="search">
      <input id="title" type="text" />
      <!-- <select id="title_type"> -->
      <!--   <option value="">title type</option> -->
      <!--   <option value="movie">movie</option> -->
      <!-- </select> -->
      <button type="submit">search</button>
    </form>
    <ul id="results"></ul>
  </div>
</body>

</html>
